.main {
    grid-area: main;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }
  
.wrapper {
  width: 95%;
}

.cover {
  background-color: rgb(207, 185, 192);
  border-radius: 20px;
  padding-top: 40px;
  padding-left: 20px;
  padding-bottom: 20px;

}

.profilePhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: lemonchiffon;
  background: url(https://i.pinimg.com/280x280_RS/4c/46/b2/4c46b220fdd0495e07c20338c71dbd13.jpg);
  background-size: contain;
}

.cover {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profileName {
  font-size: 40px;
  font-weight: 900;
  color: white;
}

.profileStatus {
  font-size: 20px;
  color: white;
}