.nav {
    grid-area: nav;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  
  .item a {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    padding: 40px 20px;
    display: block;
    cursor: pointer;
  }

  .item:hover {
    background-color: rgb(246, 246, 246);
  }

  .item a {
    display: block;
  }

  .active {
   background-color: rgb(246, 246, 246);
  }