.postsWrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

}

.header {
    margin-bottom: 20px;
}

