.app-wrapper {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:  "header header "
                        "nav main ";
              
  
}

.logo-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  
}

.header {
  grid-area: header;
  border: 1px solid black;
  background-color: lightpink;
}

.nav {
  grid-area: nav;
  border: 1px solid black;
  background-color: lightgreen;
}

.main {
  grid-area: main;
  border: 1px solid black;
  background-color: lightblue;
}

.main-img {
  height: 50px;
}

.avatar {
  width: 150px;
  height: 150px;
}

 